.header{
  background-color: #ffffff;
  height: 60px;
  text-align: center;
}
.header-content {
  margin: auto;
  max-width: 1440px;
  padding: 10px;
}
.header-content > .title {
  font-size: 24px;
  font-weight: 800;
  float: left;
  padding-left: 25px;
}
.header-content > .color-mode {
  float: right;
  padding-right: 25px;
}